# Ignore specific folders
latex/*
html/
subprojects\nlohmann_json-3.11.3
subprojects\packagecache

# Allow one specific file (e.g., important.pdf)
!latex/refman.pdf

# Ignore specific files
#Doxyfile
#Doxyfile.bak

# Other from myself
*.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
